In [1]:
#kütüphaneler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Datayı alıyoruz
Data2=pd.read_csv("veriler.csv",delimiter=";")
Data2.drop([22],axis=0,inplace=True)
Data2[["kilo","boy"]]

     kilo    boy
0    30.0  130.0
1    36.0  125.0
2    34.0  135.0
3    30.0  133.0
4    38.0  180.0
5    90.0  190.0
6    80.0  175.0
7    90.0  177.0
8    60.0  185.0
9   105.0  165.0
10   55.0  155.0
11   50.0  160.0
12   58.0  162.0
13   59.0  167.0
14   62.0  174.0
15   70.0  193.0
16   90.0  187.0
17   80.0  183.0
18   88.0  159.0
19   40.0  164.0
20   66.0  166.0
21   56.0  166.0

In [3]:
Data2

   ulke    boy   kilo   yas cinsiyet
0    tr  130.0   30.0  10.0        e
1    tr  125.0   36.0  11.0        e
2    tr  135.0   34.0  10.0        k
3    tr  133.0   30.0   9.0        k
4    tr  180.0   38.0  12.0        e
5    tr  190.0   90.0  30.0        e
6    tr  175.0   80.0  25.0        e
7    tr  177.0   90.0  35.0        e
8    tr  185.0   60.0  22.0        k
9    us  165.0  105.0  33.0        e
10   us  155.0   55.0  27.0        k
11   us  160.0   50.0  44.0        k
12   us  162.0   58.0  39.0        k
13   us  167.0   59.0  41.0        k
14   us  174.0   62.0  55.0        k
15   fr  193.0   70.0  47.0        e
16   fr  187.0   90.0  28.0        e
17   fr  183.0   80.0  29.0        e
18   fr  159.0   88.0  32.0        e
19   fr  164.0   40.0  42.0        k
20   fr  166.0   66.0  51.0        k
21   fr  166.0   56.0  62.0        k

In [4]:
#Datadaki boş değerleri atıyoruz onun yerine ortalama değer koyuyoruz
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy="mean")
yas=Data2.iloc[:,1:4].values
imputer=imputer.fit(yas[:,1:4])
yas[:,1:4]=imputer.transform(yas[:,1:4])

In [5]:
df_mean_impuleted=yas.fillna(yas.mean())
df_mean_impuleted

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'

In [ ]:
Data2

In [6]:
#katogrikten numaric e cevirme
import sklearn as skl
from sklearn import preprocessing

In [7]:
ulke=Data2.iloc[:,0:1].values
le=preprocessing.LabelEncoder()
ulke[:,0]=le.fit_transform(Data2.iloc[:,0])

In [8]:
oh=preprocessing.OneHotEncoder()
ulke=oh.fit_transform(ulke).toarray()

In [9]:
ulke

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [10]:
#geri DataFrame olarak topluyoruz
sonuc1=pd.DataFrame(data=ulke,index=range(1,23),columns=["TR","USE","FR"])
yas1=Data2.iloc[:,1:4].values
sonuc2=pd.DataFrame(data=yas1,index=range(1,23),columns=["Boy","Kilo","Yas"])
cinsiyet=Data2.iloc[:,4].values
sonuc3=pd.DataFrame(data=cinsiyet,index=range(1,23),columns=["Cinsiyet"])
se=pd.concat([sonuc1,sonuc2],axis=1)

In [11]:
se

     TR  USE   FR    Boy   Kilo   Yas
1   0.0  1.0  0.0  130.0   30.0  10.0
2   0.0  1.0  0.0  125.0   36.0  11.0
3   0.0  1.0  0.0  135.0   34.0  10.0
4   0.0  1.0  0.0  133.0   30.0   9.0
5   0.0  1.0  0.0  180.0   38.0  12.0
6   0.0  1.0  0.0  190.0   90.0  30.0
7   0.0  1.0  0.0  175.0   80.0  25.0
8   0.0  1.0  0.0  177.0   90.0  35.0
9   0.0  1.0  0.0  185.0   60.0  22.0
10  0.0  0.0  1.0  165.0  105.0  33.0
11  0.0  0.0  1.0  155.0   55.0  27.0
12  0.0  0.0  1.0  160.0   50.0  44.0
13  0.0  0.0  1.0  162.0   58.0  39.0
14  0.0  0.0  1.0  167.0   59.0  41.0
15  0.0  0.0  1.0  174.0   62.0  55.0
16  1.0  0.0  0.0  193.0   70.0  47.0
17  1.0  0.0  0.0  187.0   90.0  28.0
18  1.0  0.0  0.0  183.0   80.0  29.0
19  1.0  0.0  0.0  159.0   88.0  32.0
20  1.0  0.0  0.0  164.0   40.0  42.0
21  1.0  0.0  0.0  166.0   66.0  51.0
22  1.0  0.0  0.0  166.0   56.0  62.0

In [12]:
#Datayı train ve test data olarak bölüyoruz...
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(se,sonuc3,test_size=0.33,random_state=0)

In [14]:
#Veriler 0 ile 1 arasında skale ediyoruz...
from sklearn.preprocessing import StandardScaler

In [15]:
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)

In [16]:
#verileri makineye ogretiyoruz
from sklearn.linear_model import LogisticRegression

In [17]:
LR=LogisticRegression(random_state=0)
LR.fit(X_train,y_train)
Tahmin=LR.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [18]:
#Tahmin verileri ile gercek verileri karsilastiriyoruz
Tahmin

array(['e', 'e', 'e', 'e', 'k', 'e', 'e', 'e'], dtype=object)

In [19]:
y_test

   Cinsiyet
21        k
11        k
15        k
14        k
2         e
22        k
12        k
20        k

In [20]:
#Datalar baya hatalı cıktı bunun nedeni sablondaki kücük yas daki insanlar geneli bozuyor

In [21]:
se=se.iloc[5:,:]
sonuc3=sonuc3.iloc[5:,:]
x_train,x_test,y_train,y_test=train_test_split(se,sonuc3,test_size=0.33,random_state=0)
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.fit_transform(x_test)
LR=LogisticRegression(random_state=0)
LR.fit(X_train,y_train)
Tahmin=LR.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [24]:
Tahmin

array(['e', 'k', 'k', 'k', 'e', 'e'], dtype=object)

In [25]:
y_test

   Cinsiyet
7         e
12        k
14        k
15        k
19        e
10        e

In [ ]:
#Sonuclar simdi daha güzel