In [1]:
#Kütüphaneler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Veriyi cekiyoruz
Data1=pd.read_csv("veriler.csv",delimiter=";")
Data1

   ulke    boy   kilo   yas cinsiyet
0    tr  130.0   30.0  10.0        e
1    tr  125.0   36.0  11.0        e
2    tr  135.0   34.0  10.0        k
3    tr  133.0   30.0   9.0        k
4    tr  180.0   38.0  12.0        e
5    tr  190.0   90.0  30.0        e
6    tr  175.0   80.0  25.0        e
7    tr  177.0   90.0  35.0        e
8    tr  185.0   60.0  22.0        k
9    us  165.0  105.0  33.0        e
10   us  155.0   55.0  27.0        k
11   us  160.0   50.0  44.0        k
12   us  162.0   58.0  39.0        k
13   us  167.0   59.0  41.0        k
14   us  174.0   62.0  55.0        k
15   fr  193.0   70.0  47.0        e
16   fr  187.0   90.0  28.0        e
17   fr  183.0   80.0  29.0        e
18   fr  159.0   88.0  32.0        e
19   fr  164.0   40.0  42.0        k
20   fr  166.0   66.0  51.0        k
21   fr  166.0   56.0  62.0        k
22  NaN    NaN    NaN   NaN      NaN

In [3]:
#Verileri katagorikten numaric e cevireceğimiz için ayiriyoruz
Data1.drop([22],axis=0,inplace=True)
ulke=Data1.iloc[:,0:1].values
cinsiyet=Data1.iloc[:,-1:].values
orta=Data1.iloc[:,1:4].values
Data1

   ulke    boy   kilo   yas cinsiyet
0    tr  130.0   30.0  10.0        e
1    tr  125.0   36.0  11.0        e
2    tr  135.0   34.0  10.0        k
3    tr  133.0   30.0   9.0        k
4    tr  180.0   38.0  12.0        e
5    tr  190.0   90.0  30.0        e
6    tr  175.0   80.0  25.0        e
7    tr  177.0   90.0  35.0        e
8    tr  185.0   60.0  22.0        k
9    us  165.0  105.0  33.0        e
10   us  155.0   55.0  27.0        k
11   us  160.0   50.0  44.0        k
12   us  162.0   58.0  39.0        k
13   us  167.0   59.0  41.0        k
14   us  174.0   62.0  55.0        k
15   fr  193.0   70.0  47.0        e
16   fr  187.0   90.0  28.0        e
17   fr  183.0   80.0  29.0        e
18   fr  159.0   88.0  32.0        e
19   fr  164.0   40.0  42.0        k
20   fr  166.0   66.0  51.0        k
21   fr  166.0   56.0  62.0        k

In [4]:
from sklearn import preprocessing

In [5]:
#Katagorikten numaric e dönüştürüuoruz
Lab=preprocessing.LabelEncoder()
ulke[:,0]=Lab.fit_transform(ulke[:,0])
cinsiyet[:,0]=Lab.fit_transform(cinsiyet[:,0])

In [6]:
one=preprocessing.OneHotEncoder()
ulke=one.fit_transform(ulke).toarray()
cinsiyet=one.fit_transform(cinsiyet).toarray()

In [7]:
#Dönüştüme işlemlerini yaptıktan sonra Datafram ile birleştiriyoruz
cinsiyet=cinsiyet[:,0:1]
ulke=pd.DataFrame(data=ulke,index=range(1,23),columns=["TR","USE","FR"])
orta=pd.DataFrame(data=orta,index=range(1,23),columns=["boy","kilo","yas"])
cinsiyet=pd.DataFrame(data=cinsiyet,index=range(1,23),columns=["cinsiyet"])
hepsi=pd.concat([ulke,orta,cinsiyet])
hepsi

     TR  USE   FR  boy  kilo  yas  cinsiyet
1   0.0  1.0  0.0  NaN   NaN  NaN       NaN
2   0.0  1.0  0.0  NaN   NaN  NaN       NaN
3   0.0  1.0  0.0  NaN   NaN  NaN       NaN
4   0.0  1.0  0.0  NaN   NaN  NaN       NaN
5   0.0  1.0  0.0  NaN   NaN  NaN       NaN
..  ...  ...  ...  ...   ...  ...       ...
18  NaN  NaN  NaN  NaN   NaN  NaN       1.0
19  NaN  NaN  NaN  NaN   NaN  NaN       1.0
20  NaN  NaN  NaN  NaN   NaN  NaN       0.0
21  NaN  NaN  NaN  NaN   NaN  NaN       0.0
22  NaN  NaN  NaN  NaN   NaN  NaN       0.0

[66 rows x 7 columns]

In [14]:
boy=hepsi.iloc[:,3:4].values
x_train2=hepsi.drop(["boy"],axis=1)
boy

     TR  USE   FR  boy  kilo  yas  cinsiyet
1   0.0  1.0  0.0  NaN   NaN  NaN       NaN
2   0.0  1.0  0.0  NaN   NaN  NaN       NaN
3   0.0  1.0  0.0  NaN   NaN  NaN       NaN
4   0.0  1.0  0.0  NaN   NaN  NaN       NaN
5   0.0  1.0  0.0  NaN   NaN  NaN       NaN
..  ...  ...  ...  ...   ...  ...       ...
18  NaN  NaN  NaN  NaN   NaN  NaN       1.0
19  NaN  NaN  NaN  NaN   NaN  NaN       1.0
20  NaN  NaN  NaN  NaN   NaN  NaN       0.0
21  NaN  NaN  NaN  NaN   NaN  NaN       0.0
22  NaN  NaN  NaN  NaN   NaN  NaN       0.0

[66 rows x 7 columns]

In [9]:
#Verileri train ve test olarak ikiye ayiriyoruz
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x_train2,boy,test_size=0.33,random_state=0)

In [18]:

reg.fit(x_train,y_train)
y_tahmin2=reg.predict(x_test)

In [19]:

hepsi

     TR  USE   FR    boy   kilo   yas  cinsiyet
1   0.0  1.0  0.0  130.0   30.0  10.0       1.0
2   0.0  1.0  0.0  125.0   36.0  11.0       1.0
3   0.0  1.0  0.0  135.0   34.0  10.0       0.0
4   0.0  1.0  0.0  133.0   30.0   9.0       0.0
5   0.0  1.0  0.0  180.0   38.0  12.0       1.0
6   0.0  1.0  0.0  190.0   90.0  30.0       1.0
7   0.0  1.0  0.0  175.0   80.0  25.0       1.0
8   0.0  1.0  0.0  177.0   90.0  35.0       1.0
9   0.0  1.0  0.0  185.0   60.0  22.0       0.0
10  0.0  0.0  1.0  165.0  105.0  33.0       1.0
11  0.0  0.0  1.0  155.0   55.0  27.0       0.0
12  0.0  0.0  1.0  160.0   50.0  44.0       0.0
13  0.0  0.0  1.0  162.0   58.0  39.0       0.0
14  0.0  0.0  1.0  167.0   59.0  41.0       0.0
15  0.0  0.0  1.0  174.0   62.0  55.0       0.0
16  1.0  0.0  0.0  193.0   70.0  47.0       1.0
17  1.0  0.0  0.0  187.0   90.0  28.0       1.0
18  1.0  0.0  0.0  183.0   80.0  29.0       1.0
19  1.0  0.0  0.0  159.0   88.0  32.0       1.0
20  1.0  0.0  0.0  164.0   40.0  42.0       0.0
21  1.0  0.0  0.0  166.0   66.0  51.0       0.0
22  1.0  0.0  0.0  166.0   56.0  62.0       0.0

In [20]:
#eleme yöntemleri OLS
import statsmodels.api  as sm

In [21]:
X=np.append(arr=np.ones((22,1)).astype(int),values=Data1,axis=1)

In [72]:
X_l = hepsi.iloc[:,[0,1,2,3,4,5]].values
X_l = np.array(X_l,dtype=float)
model = sm.OLS(boy,X_l).fit()

In [73]:
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          2.556e+31
Date:                Sat, 29 Jan 2022   Prob (F-statistic):                   8.17e-262
Time:                        21:24:11   Log-Likelihood:                          638.34
No. Observations:                  22   AIC:                                     -1267.
Df Residuals:                      17   BIC:                                     -1261.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          1.261e-13   3.92e-14      3.218      0.005    4.34e-14    2.09e-13
x2          3.908e-14   4.94e-14      0.790      0.440   -6.52e-14    1.43e-13
x3             1.0000   5.73e-16   1.74e+15      0.000       1.000       1.000
x4         -2.165e-15   8.61e-16     -2.513      0.022   -3.98e-15   -3.47e-16
x5                  0   1.61e-15          0      1.000   -3.39e-15    3.39e-15
==============================================================================
Omnibus:                        0.063   Durbin-Watson:                   0.940
Prob(Omnibus):                  0.969   Jarque-Bera (JB):                0.157
Skew:                           0.101   Prob(JB):                        0.925
Kurtosis:                       2.640   Cond. No.                         667.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
X_l = hepsi.iloc[:,[0,1,4,5]].values
X_l = np.array(X_l,dtype=float)
model = sm.OLS(boy,X_l).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.976
Model:                            OLS   Adj. R-squared (uncentered):              0.971
Method:                 Least Squares   F-statistic:                              184.6
Date:                Sat, 29 Jan 2022   Prob (F-statistic):                    2.39e-14
Time:                        21:22:16   Log-Likelihood:                         -102.58
No. Observations:                  22   AIC:                                      213.2
Df Residuals:                      18   BIC:                                      217.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            17.4068     15.580      1.117      0.279     -15.326      50.140
x2            66.3603     12.982      5.112      0.000      39.087      93.634
x3             1.0148      0.261      3.887      0.001       0.466       1.563
x4             2.0580      0.448      4.591      0.000       1.116       3.000
==============================================================================
Omnibus:                        0.929   Durbin-Watson:                   1.545
Prob(Omnibus):                  0.629   Jarque-Bera (JB):                0.786
Skew:                          -0.421   Prob(JB):                        0.675
Kurtosis:                       2.615   Cond. No.                         206.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.